@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --starbucks-green: #00704A;
  --starbucks-light-green: #1E3932;
}

body {
  @apply bg-gray-50 text-gray-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
